.App {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width-lg);
  margin: 0 5rem;
}

.person {
  flex-basis: 33%;
  text-align: center;
  max-width: 100%;
}

.person.max-points .name {
  animation: pulsate 1s infinite alternate;
}

.person.max-points .cake {
  animation: shake 1.5s infinite alternate;
}

.historic {
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  .App {
    margin: 0 auto;
  }
}

